body {
    background: #E30590;
    font-family:"Times New Roman", Times, serif;
}
h1 {
    color:antiquewhite;
    text-align: center;
}  

.about {
    background:palevioletred;
    h1 {
    color:gray;
    font-family:"Times New Roman", Times, serif;
    }  
}

.skills {
    background:palegreen;
    h1 {
    color:gray;
    font-family:"Times New Roman", Times, serif;
    }  
}

.projects {
    background:paleturquoise;
    h1 {
    color:black;
    font-family:"Times New Roman", Times, serif;
    }  
}

.contact {
    background:palegoldenrod;
    h1 {
    color:gray;
    font-family:"Times New Roman", Times, serif;
    }  
}